<div class="community-page">
    <div class="event-wrapper">
        <div class="desc">
            <p class="lead">
                {{comm.handle}}
            </p>
        </div>
        <div class="event-list">
            <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3"> -->

            <p class="lead" ng-if="comm.handle=='Social-Meetup'">
                Today, there are a few things that make a successful community event: A purpose to gather, a place to hold everyone, and
                a sense of comfort for all that partake. A purpose can be as simple as to tell a story, or as complex as
                solving a societal problem. Whatever the purpose, it must not only bring people to gather, but also keep
                them there. The place should be safe and comfortable for the community members to relax and remain for a
                while. The nicer the table you set, the more that will come to dinner. The place also must be accessible
                to everyone, and this could be the most important to note: A community gathering should never be exclusive,
                or have a prohibitive cost or entry to anyone, as it should be inviting and welcoming to all. ​

            </p>

            <p class="lead" ng-if="comm.handle=='Health-&-Wellness'">

                Community Health and Wellness Camps and its employed and volunteer practitioners, board members, officer, employees or independent
                contractors are deemed to be an employee of the City Public Health and Human Services. The Community Health
                and Wellness Camps conducted by Streetsofcalicut is committed to keeping communities healthy. In a compassionate,
                high quality and patient-centered environment, services are accessible and provided without discrimination,
                with cultural competence, and where all people matter regardless of their ability to pay. Camps conducted
                once in 6 moths with the help of resistance association and local residential clubs. ​
            </p>

            <p class="lead" ng-if="comm.handle=='Kids-Activities'">
                Learning Camps for Kids Camps are a special place to learn. Kids who find it difficult to learn in another setting will often
                succeed at camp. amp directors will tell you that kids with attention disorder deficits do very well in a
                camp setting. This is anecdotal, but the sentiments are quite common." From research we found that learning
                at camp occurs in three areas—personal, social and physical—with strong carryover into school studies. ​
                ​
            </p>


            <p class="lead" ng-if="comm.handle=='Photography'">

                Photography. Whether you're a hobbyist, enthusiast, or an aspiring pro, discover the tools and best practices you need to
                take professional, high-quality photographs. This learning path teaches the basics of photography, including
                composition, lighting, and exposure. Photography Workshops, Camps, photo workshops are conducted based on
                the enthusiastic group of participants. ​
            </p>

            <p class="lead" ng-if="comm.handle=='Food-&-Drink'">

                Many people within the City face daily challenges in accessing enough healthy food for a healthy life. Most of us are not
                eating enough fruit and vegetables to meet our nutritional needs and an increasing number of people are living
                in densely populated areas where growing food is more challenging. The challenges faced by some in accessing
                sufficient food may worsen over time as natural resource constraints and climate stresses affect our food
                supply, leading to increases in the cost of food along with other essential household costs such as petrol
                and utility costs. #Streetsofcalicut will store the data on the Food banks, parcels and vouchers Community
                meals, including free and cheap meals Food education, including classes and community kitchens Community
                gardens Fresh food and groceries, including markets, food delivery and shopping support Food rescue ​

            </p>

            <p class="lead" ng-if="comm.handle=='Art-&-Culture'">

                Art forms of Kerala reflect the customs and traditions that are indigenous to Kerala. The Malabar region has innumerable
                number of art forms which represents a rich repertoire of performing arts reflecting man’s intense relationship
                with nature and his constant desire for communication with the unknown. Streetsofcalicut has taken a step
                to revive the city’s tribal and folk art forms by conducting research campaigns and gather known and unknown
                artists from various part of the city thar survived generations. ​

            </p>

            <p class="lead" ng-if="comm.handle=='Career-&-Business'">

                The Community Career Programmes and events will be conducted or coordinated as the result to address the concerns of the
                underemployed and unemployed in our community. We assist job seekers in developing the tools and resources
                needed to conduct a successful job search and return to work. Unemployment adds daily pressures, stress,
                depression, and discouragement throwing a family into crisis. The Community Career Center partners with many
                local service agencies, together providing a safety net for job seekers and their families. The Community
                Career Center provides a supportive and professional setting where job seekers can conduct an effective and
                successful job search. In addition, a professional staff of trained volunteer will be available to assist
                job seekers in setting reasonable goals and implementing strategies that meet their specific needs. Which
                include: resume writing, networking, interviewing skills, job search strategy, career counseling, and basic
                computer skills. This provides the ability to customize the workshop or programs to the individual job seeker’s
                needs. Programs and services are done in regular intervals. ​
            </p>

        </div>
    </div>
</div>