<!-- Top Intro -->
<div class="intro">
    <div class="intro-container">
        <div class="holder">
            <p class="intro-text">
                We build a community of passionate people and get them under one roof who can represent the City at its best.
            </p>
            <p class="text-green">
                Follow us to get frequest updates !
            </p>
        </div>
        <div class="ig-page">
            <instagram-embed></instagram-embed>
        </div>
    </div>
</div>
<!-- Top Intro Ends -->

<!-- Happening NOw -->

<div class="happening-now" ng-if="false">

    <div class="div-content">


        <div class="">
            <h2 class="display-5">
                Happening Now
            </h2>
        </div>



        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">



            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <!-- <div class="my-3 py-3">
                    <h2 class="display-5">Mobile Photography Competition 2019</h2>
                    <p class="">
                        #streetsofcalicut presents Stories of Kozhikode, "Capture the life of Calicut"
                    </p>
                </div> -->
                <img class="camera" src="./app/assets/images/photo_competition.jpeg" alt="">
            </div>

        </div>

    </div>



</div>

<!-- Happening Now ends -->


<!-- Kozhikode Section -->

<div class="about-kozhikode">
    <div class="wrapper">
        <h1>
            Kozhikode
        </h1>

        <p class="lead">
            Kozhikode has a lot uniqueness unlike rest of the State . Since the Geographical structure attracted the world of merchandisers
            to the City, it gained a Rich culture from various part of the world. The traditional essence of the city, no
            matter the food, fashion or the ethnicity, the city has always been shining in. During classical antiquity and
            the Middle Ages, Kozhikode was known to be the "City of Spices" for its role as the major trading point of eastern
            spices.
        </p>
        <p class="lead">
            It was the capital of an independent kingdom ruled by the Samoothiris (Zamorins) in the Middle Ages and later of the erstwhile
            Malabar District under British rule. •Arab merchants traded with the region as early as 7th century. Portuguese
            explorer Vasco da Gama landed at Kozhikode on 20 May 1498, thus opening a trade route between Europe and Malabar
            (1511–1525).
        </p>
        <p class="lead">
            Followed by English who landed in 1615 (constructing a trading post in 1665), then the French (1698) and the Dutch (1752).
            In 1765, Mysore captured Kozhikode as part of its occupation of the Malabar Coast. Kozhikode, once a famous cotton-weaving
            centre, gave its name to the Calico cloth. thus the city obtaining the name, Calicut.

            <p class="lead">

                On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures
                around the city. In May 2015, a food programme called Operation Sulaimani was introduced to help people who
                cannot afford a meal to have food with dignity.

            </p>
        </p>
    </div>
</div>

<!-- Kozhikode Section Ends -->


<!-- Introducing -->
<div class="introducing">
    <div class="left">
        <img src="./app/assets/images/brand-logo.png" alt="">

    </div>
    <div class="right">
        <!-- <h1 class="heading">
            What we Are !
        </h1> -->
        <p class="lead">
            <strong class="streets-text">
                #streetsofcalicut
            </strong>
            is an initiative by a bunch of enthusiastic friends who could bring a change in the perspective of the city. A city which
            is culturally enriched and habitually grown tremendously in the past decades. We are keen to build a community
            of passionate people and get them under one roof who can represent the City at its best. Join us to create a
            new platform to help the city rise from its roots. We, together bring changes for a better City for the people.
        </p>
    </div>
</div>
<!-- Introducing Ends -->


<!-- Vision -->

<div class="about-kozhikode">
    <div class="wrapper">
        <h1>
            Vision
        </h1>

        <p class="lead">
            The City that is already enriched by many cultural and geographical factors, we emphasis on making the people of the City
            learn their roots and celebrate it. People who are recently moved into the city lack the knowledge about the
            History of the City. ​
        </p>
        <p class="lead">
            There are no certain platform or plot for people who have interest in knowing the city. Streetsofcalicut will do exactly
            that for you. We divide the city under different categories and each category will guide you to what you are
            looking for, no matter Ethnicity or culture. We are non profitably volunteering this movement to get everything
            under in one socio economical way for city’s growth and prosperity.
        </p>
    </div>
</div>


<!-- Vision -->


<div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p7VF4Woeu1E?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
</div>

<!-- Follow Us Section -->
<!-- <div class="follow-us">
    <div class="wrapper">
        <h1 class="display-4 font-weight-normal">#streetsofcalicut</h1>

    </div>
</div> -->
<!-- Follow Us Ends -->