<div class="events-page">
    <div class="event-wrapper">
        <div class="desc">
            <p class="lead">
                Have a look at our past and upcoming events .
            </p>
            <p>
                Since inception we have been hosting events with an aim to build the community . We have seen active participation from all
                the individuals and get to see frequent new comers.
            </p>
        </div>
        <div class="event-list">


            <div class="event text-center">
                <div class="my-3 py-3">
                    <h2 class="display-5">Mobile Photography Competition 2019</h2>
                    <p class="">
                        #streetsofcalicut presents Stories of Kozhikode, "Capture the life of Calicut"
                    </p>
                    <strong>
                        By StreetsOfCalicut
                    </strong>
                    <p class="text-brown">
                        <span class="text-green">
                            Jan 15 - Feb 15 , 2019
                        </span>
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/photo_competition.jpeg" alt="">
            </div>


            <div class="event text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Kayaking</h2>
                    <p class="">
                        Kayaking was a unique idea, experimenting something new with a beautiful concept of water sports, the most safest way
                    </p>
                    <strong>
                        By Team SOC
                    </strong>
                    <p class="text-brown">
                        December 16, 2018
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/kayak.png" alt="">
            </div>

            <div class="event text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Kakkayam Photo Walk</h2>
                    <p class="">
                        Every step you take towards your passion is an achievement, no matter you succeed or not. #streetsofcalicut is proud to be
                        a part in taking your passion to a new level. . Our 3rd #Photowalk was held at Kakkayam on 14th October.
                        It was not just a walk rather an experience how you get to do the work Harder and Better. . .
                    </p>
                    <strong>
                        By Team SOC
                    </strong>
                    <p class="text-brown">
                        October 14, 2018
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/kakkayam.png" alt="">
            </div>


            <div class="event text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Photography Workshop 2.0</h2>
                    <p class="">Basic photo editing in Adobe Lightroom CC </p>
                    <strong>
                        By Suhaila Ramees.
                    </strong>
                    <p class="text-brown">
                        <!-- April 8 , 2017 -->
                        <span class="text-green">
                            Event Closed
                        </span>
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/camera.png" alt="">
            </div>


            <div class="event text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">SOC Riders</h2>
                    <p class="">Exceptional hiking vacations to the Wayanads most beautiful and wild landscapes in association with Wild
                        Wibes Wayanad

                    </p>
                    <!-- <strong>
                            By Mr Maneef.
                        </strong> -->
                    <p class="text-brown">
                        May 12 , 2018
                        <span class="text-brown">
                            (Past)
                        </span>
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/camera.png" alt="">
            </div>

            <div class="event text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Photography Workshop</h2>
                    <p class="">A Brief Intro on the basics of Photography</p>
                    <strong>
                        By Mr Nazi Abdul Nazer.
                    </strong>
                    <p class="text-brown">
                        April 8 , 2018
                        <span class="text-brown">
                            (Past)
                        </span>
                    </p>
                </div>
                <img class="camera" src="./app/assets/images/camera.png" alt="">
            </div>


            <div class="event text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Photo Walk</h2>
                    <p class="lead">Walk the streets of Kozhikode capturing on the camera of your choice</p>
                    <p class="text-brown">
                        March 18 , 2018
                        <span class="text-brown">
                            (Past)
                        </span>
                    </p>

                </div>
                <img class="camera" src="./app/assets/images/cameraman.jpg" alt="">
            </div>


        </div>



        <!-- 
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Host an event with Us</h2>
                        <p class="lead">We are inviting volunteers to host events within the city. DM us for details</p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                </div>
                <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                </div>
            </div> -->


    </div>
</div>